.Section_Catalog{
    display: flex;
    background-color: #ffffff;
    
   
}
.Section_Catalog_component{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.Section_Catalog_container{
    display: flex;
    flex-wrap: wrap;

       

}
.Section_Catalog_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.Section_Catalog_SortDropdown{
display: flex;
justify-content: flex-end;
width: 100%;
gap: 30px;
}

/* -----------  Catalog params  ---------------*/



.Section_Catalog_container_params{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    background-color: #ffffff;
    width:100vw;
}
.Section_Catalog_content_params{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}


 /* ------------------------------------*/

.Section_pagination_button{
display: flex;
justify-content: center;
gap: 5px;
}

.container_ProductItem {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    /* 
    flex-direction: column;
    padding: 20px;
    background-color: #f89f2e;
    border-radius: 5px;
    width: min-content; */
    
}

.content_ProductItem {
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 20px;
    background-color: #f89f2e;
    border-radius: 5px;
    width: min-content; 
}

.content_ProductItem_Cart{
    display: flex;
    justify-content: space-between;
}

.content_ProductItem_Image{
    /* background-size: cover; */
    object-fit: cover;
}

.content_ProductItem_name,
.content_ProductItem_categoryName,
.content_ProductItem_prise{
    color: #ffffff; 
    margin: 0;
}


.content_ProductItem_RUB,
.content_spam_colon{
    color: green;
}

.content_span_name,
.content_span_category,
.content_span_price{
color: blue; 
}


 /* -------------  Rating ---------------- */

 .container_Rating{
    display: flex;
    flex-direction: column;
 }

 .container_Rating_Tag{
 
 }
 .container_Rating_number{
  color: #ffffff;
 }
 .container_Rating_responses{
  color: blue;
 }
 .container_Rating_colon{
 color: green;
 }

 /* ---------------  FavoriteButton  ---------- */
 .FavoriteButton {
    background-color: #f89f2e;
    color: red;
    border: none;
    font-size: 20px;
 }

 /* ---------------- AddToCardButton ------------ */  

 .AddToCardButton{
    background-color: #f89f2e;
    color: green;
    border: none;
    font-size: 20px;
 }

